#simon-game {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
}

.color-button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.8;
}

#green { background-color: green; }
#red { background-color: red; }
#yellow { background-color: yellow; }
#blue { background-color: blue; }

.color-button:active {
    opacity: 1;
}
