body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

#configPanel {
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    margin-top: 10px;
}

button:hover {
    background-color: #45a049; /* Slightly darker green on hover */
}

#resetButton {
    background-color: darkred;
}

.button-stop {
    background-color: red; /* Red background for the stop button */
    color: white; /* White text to contrast the red background */
}

/* Optional: hover effects */
.button-stop:hover {
    background-color: darkred; /* Darker red on hover */
}


input[type="range"],
input[type="number"] {
    width: 100px;
}

#matchDisplay img {
    width: 100px;
    height: 100px;
}

#challengeCompleteDisplay {
    font-size: 48px; /* Large font for visibility */
    color: green; /* Green color for the text */
    background-color: black; /* Black background for contrast */
    font-family: 'Digital-7', monospace; /* Font that mimics digital 7-segment displays */
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

#countdownDisplay {
    font-size: 48px; /* Large font for visibility */
    color: red; /* Red color for the digits */
    background-color: black; /* Black background to mimic digital displays */
    font-family: 'Digital-7', monospace; /* Font that mimics digital 7-segment displays; ensure you have this font or similar */
    display: inline-block;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
}

/* Collapsible Panel */
#configBtn {
    margin: 10px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}